name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Check linting, formating, types, etc.
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - uses: extractions/setup-just@v3
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install prek
    - name: Lint
      run: just lint

  # Run tests
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        micromamba-version: latest
        environment-name: test
        create-args: >-
          python=3.12
          jupyter
          r-base
          r-knitr
          -c conda-forge
        init-shell: bash
    - uses: extractions/setup-just@v3
    - name: Install package
      shell: bash -el {0}
      run: |
        python -m pip install --upgrade pip uv
        uv pip install --system -e ".[dev]"
    - name: Test
      shell: bash -el {0}
      run: just test